# Split

- string type의 값을 기준값으로 나눠서 List 형태로 변환

In [1]:
items = 'zero one two three'.split() # 빈칸을 기준으로 문자열 나누기
print(items)

['zero', 'one', 'two', 'three']

In [2]:
items = 'zero. one. two. three'
items.split('.')# '.'을 기준으로 문자열 나누기

['zero', ' one', ' two', ' three']

In [3]:
items = 'zero, one, two, three'
items.split(',')# ','을 기준으로 문자열 나누기

['zero', ' one', ' two', ' three']

# Join

In [4]:
# 리스트를 문자열로 변환, 이때 공백은 - 대체
colors = ['red', 'blue', ' green','yellow']
'-'.join(colors)

'red-blue- green-yellow'

# List Comprehension

- 기존 List를 사용하여 간단히 다른 List로 만드는 기법

In [6]:
result = []
for i in range(10) :
    result.append(i)

    
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
result = [i for i in range(10)]
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Nested Loop

In [10]:
word1 = 'Hello'
word2 = 'World'

# Nested Loop
result = [i + j for i in word1 for j in word2]
result

['HW',
 'Ho',
 'Hr',
 'Hl',
 'Hd',
 'eW',
 'eo',
 'er',
 'el',
 'ed',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'oW',
 'oo',
 'or',
 'ol',
 'od']

# Filter

In [13]:
case_1 = ['a','b','c']
case_2 = ['d', 'e','a']

result = [i + j for i in case_1 for j in case_2]
result

['ad', 'ae', 'aa', 'bd', 'be', 'ba', 'cd', 'ce', 'ca']

In [15]:
# filter : i랑 j가 같다면 result에 추가하지 않음
result = [i + j for i in case_1 for j in case_2 if not(i == j)]
result

['ad', 'ae', 'bd', 'be', 'ba', 'cd', 'ce', 'ca']

In [16]:
[i + j if not(i == j) else 'BEE' for i in case_1 for j in case_2]

['ad', 'ae', 'BEE', 'bd', 'be', 'ba', 'cd', 'ce', 'ca']

## Two dimensional List

In [17]:
words = 'the quick brown fox jumps over the lazy dog'.split()
words

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [18]:
[[w.upper(),w.lower(), len(w)] for w in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [19]:
# case_2를 고정
[[i + j for i in case_1] for j in case_2]

[['ad', 'bd', 'cd'], ['ae', 'be', 'ce'], ['aa', 'ba', 'ca']]

## enumerate

- list의 element를 추출할 때 번호를 붙여서 추출

In [20]:
for i, v in enumerate("ABC") :
    print(i,v)

0 A
1 B
2 C

In [21]:
my_str = "ABCD"

{v : i for i, v in enumerate(my_str)}

{'A': 0, 'B': 1, 'C': 2, 'D': 3}

## zip
- 두 개의 list의 값을 병렬적으로 추출함

In [24]:
alist = ['a1','a2','a3']
blist = ['b1','b2','b3']

[[a,b] for a,b in zip(alist,blist)]

[['a1', 'b1'], ['a2', 'b2'], ['a3', 'b3']]

In [26]:
[a for a in zip(alist,blist)] # 기본적으로 튜플 타입으로 묶음

[('a1', 'b1'), ('a2', 'b2'), ('a3', 'b3')]

## enumerate & zip

In [27]:
for i, values in enumerate(zip(alist,blist)) :
    print(i, values)

0 ('a1', 'b1')
1 ('a2', 'b2')
2 ('a3', 'b3')

In [29]:
list(enumerate(zip(alist,blist)))

[(0, ('a1', 'b1')), (1, ('a2', 'b2')), (2, ('a3', 'b3'))]

## lambda 

- 함수 이름 없이 함수처럼 쓸 수 있는 익명함수

In [30]:
def f(x, y) :
    return x + y

f(1,4)

5

In [33]:
f = (lambda x, y: x + y)
f(10,50)

60

In [34]:
(lambda x, y : x + y)(10,50)

60

In [35]:
up_low = lambda x : '-'.join(x.split())

In [36]:
up_low('My Happy')

'My-Happy'

## map
- 두 개 이상의 list에도 적용 가능함, if filter도 사용가능

In [39]:
ex = [1,2,3,4,5]
f = lambda x : x**2
print(list(map(f,ex)))

[1, 4, 9, 16, 25]

In [37]:
f = lambda x,y : x + y
print(list(map(f, ex, ex)))

[2, 4, 6, 8, 10]

In [ ]:
list(map(lambda x : x**2 if x % 2 == 0 else x ,ex))

In [41]:
[value ** 2 if value%2 == 0 else value for value in ex]

[1, 4, 3, 16, 5]

## reduce function 

- map function과 달리 list에 똑같은 함수를 적용해서 통합

In [42]:
from functools import reduce

In [43]:
print(reduce(lambda x, y : x+y, [1,2,3,4,5]))

15

## generator

- 대용량의 데이터를 불러올 시 generator를 권장함

***

# function passing arguments

### 1) keyword arguments

- 함수에 입력되는 parameter의 변수명을 사용, arguments를 넘김

In [44]:
def print_something(my_name, your_name) :
    print("Hello {0}, My name is {1}".format(your_name, my_name))

In [45]:
print_something("Jeon",'Sun')
print_something(your_name = 'Jeon', my_name = 'Sun')

Hello Sun, My name is Jeon
Hello Jeon, My name is Sun

### 2) default arguments

- parameter의 기본 값을 사용, 입력하지 않을 경우 기본값 출력

In [ ]:
def print_something(my_name, your_name = 'naver') :
    print("Hello {0}, My name is {1}".format(your_name))
    
print('Jeon')

## 3) variable - length asterisk

- 개수가 정해지지 않은 변수를 함수의 parameter로 사용하는 법

- keyword arguments와 함께, argument 추가가 가능

- Asterisk( * ) 기호를 사용하여 함수의 parameter를 표시한다.

***
### 가변인자(variable - length)

- 가변인자는 일반적으로 * args를 변수명으로 사용

- 기존 parameter 이후에 나오는 값을 tuple로 사용

In [50]:
def asterisk_test(a, b, *args) :
    print(list(args))
    print(type(args))
    return a+b+sum(args)

print(asterisk_test(1,2,3,4,5))

[3, 4, 5]
<class 'tuple'>
15

In [51]:
def asterisk_test(*args) :
    x, y, z = args
    return x,y,z

asterisk_test(1,2,3)

(1, 2, 3)

### 키워드 가변인자 (Keyword variable - length)

- parameter 이름을 따로 지정하지 않고 입력하는 방법

- **asterisk( * ) 두개**를 사용하여 함수의 parameter를 표시함

- 입력된 값은 dict type으로 사용할 수 잇음

- 가변인자는 오직 한 개만 기존 가변인자 다음에 사용

In [53]:
def kwargs_test_1(**kwargs) :
    print(kwargs)
    
kwargs_test_1(first = 3, second = 4 ,third = 5)

{'first': 3, 'second': 4, 'third': 5}

In [55]:
def kwargs_test_3(one, two = 3, *args, **kwargs) :
    print(one + two + sum(args))
    print(args)
    print(kwargs)
    
kwargs_test_3(10,30, 3.5, 6,7,8, first = 3 , second = 4, third = 5)

64.5
(3.5, 6, 7, 8)
{'first': 3, 'second': 4, 'third': 5}

### asterisk

- 흔히 알고 있는 * 를 의미함

- 단순 곱셈, 제곱연산, 가변 인자 활용 등 다양하게 사용된다.

### asterisk - unpacking a container

- tuple, dict 등 자료형에 들어가 있는 값을 unpacking

- 함수의 입력값, zip 등에 유용하게 사용가능

In [58]:
def asterisk_test(a, *args) :
    print(a, *args) # *를 치게되면 튜플이 풀린다.
    print(a, args)
    print(type(args))
    
asterisk_test(1, *(2,3,4,5,6))

1 2 3 4 5 6
1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [57]:
def asterisk_test(a, *args) :
    print(a, args)
    print(type(args))
    
asterisk_test(1, (2,3,4,5,6))

1 ((2, 3, 4, 5, 6),)
<class 'tuple'>

In [60]:
# unpacking
print(*["1","2","3","4"])

1 2 3 4

In [61]:
# 튜플의 list를 각각 할당
a,b,c = ([1,2],[3,4],[5,6])
print(a,b,c)

# 튜플을 unpacking
data = ([1,2],[3,4],[5,6])
print(*data)

[1, 2] [3, 4] [5, 6]
[1, 2] [3, 4] [5, 6]

In [63]:
def asterisk_test(a,b,c,d) :
    print(a,b,c,d)

# **를 사용하여 dict type unpacking    
data = {"b" : 1, "c":2, "d" : 3}
asterisk_test(10, **data)

10 1 2 3

<br>

In [64]:
# asterisk 사용
ex = [1,2],[3,4],[5,6],[5,6],[5,6]
for value in zip(*ex) :
    print(value)

(1, 3, 5, 5, 5)
(2, 4, 6, 6, 6)

In [65]:
# asterisk 사용을 안 할 경우
ex = ([1,2],[3,4],[5,6])
a,b,c = ex

for value in zip(a,b,c) :
    print(value)

(1, 3, 5)
(2, 4, 6)