In [1]:
import pandas as pd

### groupby

In [7]:
# sample 데이터 생성
df = pd.DataFrame({'Points' : [876,789,863,673,741],
                  'Rank' : [1,2,2,3,3],
                  'Team' : ['Riders','Riders','Devils','Devils','Kings'],
                  'Year' : [2014,2015,2014,2015,2014]})

In [8]:
df

   Points  Rank    Team  Year
0     876     1  Riders  2014
1     789     2  Riders  2015
2     863     2  Devils  2014
3     673     3  Devils  2015
4     741     3   Kings  2014

### groupby(묶음의 기준이 되는 컬럼)[적용받는 컬럼].적용받는 연산

In [9]:
# Team을 기준으로 Points를 합
df.groupby('Team')['Points'].sum()

Team
Devils    1536
Kings      741
Riders    1665
Name: Points, dtype: int64

In [10]:
# 1개 이상의 컬럼을 묶을 수 있음.
# Team이 0번째 인덱스 Year이 그다음 인덱스
df.groupby(['Team','Year'])['Points'].sum()

Team    Year
Devils  2014    863
        2015    673
Kings   2014    741
Riders  2014    876
        2015    789
Name: Points, dtype: int64

In [ ]:
h_index = pd.DataFrame({z})